snippet pdb
	import pdb; pdb.set_trace()

# New Class
snippet class
	class ${1:ClassName}(${2:object}):
		"""${3:docstring for $1}"""
		def __init__(self):
			${4:super($1, self).__init__()}
snippet vimpy
	# vim: ai ts=4 sts=4 et sw=4
